<!DOCTYPE html>
<html>

<head>
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
</head>


<body class="body-target">
    <div class="ui fixed  inverted menu">
        <div class="ui container">
            <div class="header item"> <a href="/"><i class="code icon"></i>Blog site</a> </div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>
    </div>





















    <!--
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>-->